.contact-container {
  padding: 40px;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #1890ff;
}

.custom-form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ant-form-item-label {
  text-align: left !important;
}

.ant-form-item-control-input {
  width: 100%;
}

.ant-form-item-wrapper {
  margin-bottom: 20px;
}
