
.flascards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  margin-left: 50px;
}

.Cards {
  position: relative; 
  width: 400px;
  height: 550px;
  margin: 60px;
  perspective: 1000px;
  cursor: pointer;
}

.front,
.back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px #2b2676;
  color: #2b2676;
}

.back {
  background-color: #2b2676;
  color: #fff;
  transform: rotateY(180deg);
  transition: transform 0.5s;
  border-radius: 8px;
  box-shadow: 0 0 10px #2b2676;
}

.Cards.spinned .front {
  transform: rotateY(-180deg);
}

.Cards.spinned .back {
  transform: rotateY(0deg);
}

.delete-button {
  margin-top: 20px;
}

.add-new-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-new-card input,
.add-new-card button {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

.add-new-card button {
  background: linear-gradient(to right, #3498db, #2ecc71);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.add-new-card button:hover {
  background: linear-gradient(to right, red, red, black);
}


/* .delete-button button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.delete-button button:hover {
  background-color: #2980b9;
}

.delete-button button svg {
  margin-right: 8px; 
} */
/* .edit-button,
.delete-button {
  margin-top: 10px;
}

.edit-form-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.edit-form-content label {
  display: block;
  margin-bottom: 5px;
} */


.add-new-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-new-card input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid green, blue;
  border-radius: 4px;
}

.add-new-card button {
  background: linear-gradient(to right, #3498db, #2ecc71);
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.add-new-card button:hover {
  background: linear-gradient(to right, #2ecc71, #3498db);
}

.add-new-card button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.add-new-card input::placeholder {
  font-size: 14px; 
  color: #6c757d; 
  font-family:'Times New Roman', Times, serif;
}

/* 
.edit-button {
  margin-top: 10px; 
}

.edit-button button {
  background-color: #3498db; 
  color: #fff; 
  padding: 8px 16px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.edit-button button:hover {
  background-color: #2980b9; 
}

.edit-button button svg {
  margin-right: 8px; 
}
 */

 .button-container {
  display: flex;
  gap: 10px; 
}

.edit-button,
.delete-button {
  margin-top: 20px; 
}

.edit-button button,
.delete-button button {
  margin-top: 30px;
  height: 30px;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}
.edit-button button{
  background-color: #2ecc71;
}
.delete-button button{
  background-color: red;
}
.edit-button button:hover,
.delete-button button:hover {
  background-color: #2980b9;
}

.edit-button button svg {
  margin-right: 8px;
}


img {
  width: 280px; 
  height: 280px; 
  display: block; 
  margin: 0 auto;
 
}

.filter-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.filter-label {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  color: #333; 
}

select {
  padding: 8px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid #3498db; 
  border-radius: 5px;
  background-color: #ecf0f1; 
  color: #333; 
  cursor: pointer; 
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

select:hover {
  border-color: #065d98; 
}

select:focus {
  outline: none;
  border-color: #2980b9; 
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.7); 
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 20px; 
}

.search-label {
  font-size: 25px;
  font-weight: bold;
  color: #333; 
  margin-right: 60px; 
}

.search-input {
  padding: 8px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid #53bde3;
  background-color: #ecf0f1;  
  border-radius: 4px;
  margin-right: 10px; 
}

.search-button {
  padding: 8px 16px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  background-color:#2b2676;
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color:   rgba(52, 152, 219, 0.7); 
   
}

.sort-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sort-label, .order-label {
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #333; 
}

select {
  padding: 5px;
  margin-right: 10px;
}
